body {
    background-color: black;
    font-family: "Inconsolata";
    font-weight: 300;
    color: salmon;
}

/* background, overiding from bootstrap model */
.modal-background {
    background-color: black;
}

.container {
    background-color: darkslategray;
}

/* unvisited link */
a:link {
    color: chartreuse;
}

/* visited link */
a:visited {
    color: lightsalmon;
}

/* mouse over link */
a:hover {
    color: lightgreen;
}

/* selected link */
a:active {
    color: salmon;
}

/* text */
.text-thin {
    font-weight: 100;
}

.text-muted {
    color: lightsalmon;
}

/* row borders */
.bottom-border {
    border-bottom: solid lightgreen 4px;
}

.top-border {
    border-top: solid lightgreen 4px;
}

/* css widget */
.css-validator {
    border: 0;
    width: 88px;
    height: 31px;
}

/* moving silon head row*/
.silon_track {
    margin: 20px;
}

/* moving silon head */
.silon {
    border: 5px;
    width: 132px;
    height: 54px;
}